* {
  margin: 0;
  padding: 0;
}


body {
  background-color: rgb(224, 224, 224);
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}

.mdi {
  color: white;
  font-size: 1.4rem;
  justify-self: center;
}

.sidebar {
  height: 100vh;
  color: white;
  background-color: rgb(41, 139, 230);
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  align-items: flex-start;
}

.sidebar-title,
.sidebar-principal,
.sidebar-second {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  font-weight: 700;
  gap: 0.7rem;
}

.sidebar-title {
  font-size: 1.5rem;

  & .mdi {
    font-size: 2.9rem;
  }
}

.sidebar-main-group {
  padding: 10px;
  display: grid;
  gap: 3rem;
}

.sidebar-title-group,
.sidebar-principal-group,
.sidebar-second-group {
  display: grid;
  gap: 1.2rem;
}

.sidebar-second-group {
  padding-top: 1.5rem;
}

.sidebar p {
  color: white;
  font-size: 1.3rem;
}

.header-container {
  padding: 1rem;
  display: grid;
  grid-column: 2 / 4;
  max-height: 100%;   
}

.header-container,
.card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(252, 252, 252, 1);
}

.header-main-group {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 2fr 1fr;

  & .mdi {
    color: rgb(2, 2, 2);
    font-size: 1.4rem
  }

  ;
}

.search {  
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
  gap: 1rem;
}

.search .mdi {
  justify-self: flex-end;
}

.header-profile-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.div-photo-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 0.5rem;
}

input {
  width: 80%;
  border: none;
  justify-self: flex-start;
  border-radius: 15px;
  padding: 4px;
  background-color: rgb(236, 236, 236);
}

.name-profile {
  font-size: 1.2rem;
  font-weight: bold;
}


.img-photo-profile {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.header-second-group {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 2;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.header-second-profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.div-header-second {
  display: grid;
  justify-items: center;
}


.img-photo-second {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.header-buttons-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 75px));    
  gap: 1.4rem;
  align-items: center;
}

.btn-header {
  padding: 10px;
  border-radius: 65px;
  border: none;
  background-color: #3480f3;
  color: white;

}

.content-container {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr 1f;
  grid-template-rows: 1fr 3fr 3fr;
  grid-area: 2 / 2 / 4 / 4;
  gap: 10px;
}

.main-content-group {
  display: grid;
  gap: 10px;  
}

.main-content {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  display: grid;
  padding: 15px;
  border-radius: 7.5px;
  border-left: solid 6px rgb(211, 180, 2);  
}

.card .title {
  font-size: 0.9rem;
  font-weight: 700;
}

.card p {
  font-size: 0.7rem;
}

.card .mdi {
  font-size: 1.2rem;
  color: black;  
}

.card-icons-group {
  padding-top: 8%;
  display: grid;
  justify-self: flex-end;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem; 

}

.side-content-group {
  display: grid;
  grid-area: 3 / 3 / 1 / 4;
}